body {
	background: linear-gradient(-45deg, #f1ab95, #e593b3, #8eb4e0, #83d2d8);
	background-size: 500% 500%;
	animation: gradient 20s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

nav {
  background: rgb(255, 255, 255, 0);
  padding: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.links {
  margin: 50px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
}

h1 {
  color: white;
  margin: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 37px;
  text-align: center;
  background-clip: text;
}

h2 {
  color: rgb(255, 255, 255);
  margin: 12px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 25px;
}

.project {
  text-align: center;
  width: 200px;
  padding: 7px 15px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255, 0);
  border-radius: 7px;
  font-size: 20px;
}

.project:hover {
  transition: 0.5s ease;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 7px;
  box-shadow: inset 0 0 10px rgb(255, 255, 255, 0.5);
  text-shadow: 0 0 2px rgb(255, 255, 255, 1);
}

.icon {
  cursor: pointer;
  color: white;
  font-size: 35px;
  margin: 5px;
}

.icon:hover {
  text-shadow: 0 0 5px rgb(255, 255, 255, 0.5);
}

.social {
  text-align: center;
}
